---
const personalImageAlt = "Félix Martínez";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Félix Martínez y a veces me dicen él Gato Félix. Empecé en la
      programación en el año 2016 con algo asi como php, tenía 23 años. Pero
      luego Javascript fue el RETURN de mi consola. Actualmente estoy <strong
        >radicado en Europa, España.</strong
      >.
    </p>

    <p>
      Entre algunos de mis proyectos podras ver que he probado con varias
      tecnologías como <strong
        >HTML, CSS, JS, REACT, NODE, SASS, ASTRO, TAILWINDS, CMS, MYSQL, entre
        otros.</strong
      > Mi intención es mantenerme actualizado y en constante aprendizaje con las
      tecnologías para poder mejorar en mís hábilidades.
    </p>

    <p>
      A lo largo de mi vida <strong
        >he vivido en diferentes cíudades, países y continentes,</strong
      > lo cual me ha permitido conocer diversas culturas y tener desarrollado <strong
        ><em class="italic">la habilidad de adaptación a los cambios,</em
        ></strong
      > como tambien el hecho de que he trabajado en diferentes sectores lo que me
      permite la comprensión de diversos problemas para encontrar una solución.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/me.webp"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
